.col {
  padding: 25px 0;
  border: 1px #a643f9 solid;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
}
.rightRow {
  width: 100%;
  margin: 10px;
}
.row1 {
  margin-top: 1em;
}
.buttonMy {
  padding: 1em;
  height: 13em;
}
.div1 {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.col1 {
  padding-left: 0.8em;
  padding-right: 0.5em;
}
.buttonMycolor {
  background: #4371F5;
}
