.container{
  width: 100%;
}
.hidden{
  display: none;
}
.inputStyle{
  width: 30%;
  font-size: 16px;
}
.inputErr{
  .inputStyle;
  & input{
    border-color: #e4393c !important;
  }
}
.btn{
  margin-left: 20px;
  width: 100px;
}
.searchBtn{
  .btn;
}
.resetBtn{
  .btn;
}
.clearBtn{
  cursor: pointer;
  color: #e4393c;
}